
.home-body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 100px auto;
}

.box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  margin: 10px 0;
}

#pendientes {
  background-color: #477e58;
  margin-top: 30ex;
  margin-right: 900px;
}

#anteriores {
  background-color: #ab5b53;
  margin-right: 900px;
}

#tutorAsignado {
  background-color: #5c90b0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-top: -220px;
}
#tutorAsignado p {
  text-decoration: underline;
  margin-top: 5px;
}
#tutorAsignado p2 {
  font-size: 12px;
  margin: 5px 0;
}

#estudiante {
  background-color: #5e699d;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-top: -220px;
}
#estudiante p {
  text-decoration: underline;
  margin-top: 5px;
}
#estudiante p2 {
  margin: 5px 0;
  font-size: 12px;
}

.numero {
  font-size: 24px;
  font-family: 'Arial', sans-serif;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

#file-list h2 {
  color: white;
  margin: 5px 0;
  text-align: center;
}

/* Estilo para el contenedor del formulario de carga de archivos */
#file-upload-form {
  padding: 10px;
  width: 40%; /* Ajusta el ancho del formulario según tus necesidades */
  margin-top: -5px;
  margin-left: 50px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo para el contenedor de archivos subidos */
#file-list {
  background-color: #be7ea0;
  padding: 10px;
  float: left; /* Coloca los archivos subidos en el lado izquierdo */
  width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
  margin-top: -220px;
  margin-left: 700px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  border-radius: 10px; /* Ajusta el valor según tu preferencia */
}

/* Estilo para el botón de carga de archivos */
#upload-button {
  background-color: #c34796;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  
}

/* Estilo para el botón de carga de archivos al pasar el mouse por encima */
#upload-button:hover {
  background-color: #0056b3;
}

/* Estilo para los botones de descarga y eliminación dentro de uploadedFilesList */
#uploaded-files button {
  background-color: #c34796;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px; /* Espacio entre los botones */
  margin-top: 5px; /* Espacio entre los botones y el archivo */
  
}

/* Estilo para los botones de descarga y eliminación al pasar el mouse por encima */
#uploaded-files button:hover {
  background-color: #0056b3;
}

